@import "tailwindcss";

.font-winky{
    font-family:" winky rough";
}
.font-inria{
    font-family: "Inria Sans" , sans-serif;
}
.product_active{
    background-color: rgb(255, 84, 138);
    color: white;
}